/* Two Column Layout */
.layout-two-column {
  display: grid;
  grid-template-areas: "main sidebar";
  grid-template-columns: var(--ratio-2-1);
  gap: var(--grid-gap);
}

.layout-two-column.mobile {
  grid-template-areas: "main" "sidebar";
  grid-template-columns: 1fr;
}
